# Заказы в фастфуде Chipotle

### Шаг 1. Импортируем библиотеки.

In [1]:
import pandas as pd
pd.__version__

'1.2.3'

### Шаг 2. Читаем датасет в переменную df

In [14]:
path = '../../datasets/chipotle.tsv'

In [15]:
!head -n 5 $path

order_id	quantity	item_name	choice_description	item_price
1	1	Chips and Fresh Tomato Salsa	NULL	$2.39
1	1	Izze	[Clementine]	$3.39
1	1	Nantucket Nectar	[Apple]	$3.39
1	1	Chips and Tomatillo-Green Chili Salsa	NULL	$2.39

In [16]:
df = pd.read_csv(path, sep='\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [18]:
df.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### Шаг 3. Смотрим первые 10 записей

In [19]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Шаг 4. Сколько всего записей в датасете?

In [6]:
# Решение 1
chipo.shape[0]

4622

In [7]:
# Решение 2
len(chipo)

4622

### Шаг 5. Сколько всего колонок в датасете?

In [8]:
chipo.shape[1]

5

In [9]:
len(chipo.columns)

5

### Шаг 6. Выведите имена всех колонок

In [10]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Шаг 7. Как проиндексирован датасет?

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Шаг 8. Какое блюдо заказывали больше всего?

In [19]:
max_dish = chipo['item_name'].value_counts().index[0]
max_dish

'Chicken Bowl'

In [20]:
chipo.groupby('item_name')['order_id'].count().sort_values(ascending=False).index[0]

'Chicken Bowl'

### Шаг 9. Сколько раз заказывали самое популярное блюдо?

In [25]:
chipo[chipo['item_name']==max_dish].shape[0]

726

In [26]:
chipo.query('item_name==@max_dish')

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75

In [27]:
chipo[chipo['item_name']==max_dish]['quantity'].sum()

761

### Шаг 10. Какое блюдо в колонке choice_description заказывали больше всего?

In [28]:
chipo['choice_description_fix'] = chipo['choice_description']\
    .apply(lambda s: s.replace(']','').replace('[','').split(', ') if s==s else s)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,choice_description_fix
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,NaN
1,1,1,Izze,[Clementine],$3.39,[Clementine]
2,1,1,Nantucket Nectar,[Apple],$3.39,[Apple]
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,NaN
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,"[Tomatillo-Red Chili Salsa (Hot), Black Beans,..."

In [31]:
chipo.explode('choice_description_fix')['choice_description_fix'].value_counts(dropna=False)

Rice                                    2389
Cheese                                  2281
Lettuce                                 1742
Sour Cream                              1711
Black Beans                             1342
NaN                                     1246
Fresh Tomato Salsa                      1046
Guacamole                               1037
Fajita Vegetables                        722
Pinto Beans                              582
Roasted Chili Corn Salsa                 457
Fresh Tomato Salsa (Mild)                351
Tomatillo Red Chili Salsa                325
Fajita Veggies                           302
Roasted Chili Corn Salsa (Medium)        270
Tomatillo-Red Chili Salsa (Hot)          259
Tomatillo Green Chili Salsa              230
Diet Coke                                134
Tomatillo-Green Chili Salsa (Medium)     128
Coke                                     123
Sprite                                    77
Lemonade                                  33
Fresh Tomato (Mild)                       31
Coca Cola                                 26
Nestea                                    20
Dr. Pepper                                18
Mountain Dew                              15
Diet Dr. Pepper                           13
Clementine                                 8
Pineapple Orange Banana                    8
Blackberry                                 8
Peach Orange                               8
Cilantro-Lime Rice                         7
Apple                                      6
Salsa                                      6
Adobo-Marinated and Grilled Chicken        5
White Rice                                 5
Pomegranate Cherry                         5
Adobo-Marinated and Grilled Steak          4
Grapefruit                                 4
Roasted Chili Corn (Medium)                3
Tomatillo Red Chili (Hot)                  3
Vegetarian Black Beans                     3
Braised Barbacoa                           2
Tomatillo Green Chili (Medium)             2
Brown Rice                                 2
Braised Carnitas                           1
Name: choice_description_fix, dtype: int64

### Шаг 11. Сколько суммарно блюд было заказано?

In [32]:
chipo['quantity'].sum()

4972

### Шаг 12. Превратите колонку price в float

In [33]:
pd.Series.str

pandas.core.strings.StringMethods

In [34]:
chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,choice_description_fix
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,NaN
1,1,1,Izze,[Clementine],3.39,[Clementine]
2,1,1,Nantucket Nectar,[Apple],3.39,[Apple]
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,NaN
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,"[Tomatillo-Red Chili Salsa (Hot), Black Beans,..."

In [35]:
chipo[chipo['item_name']==max_dish].groupby('quantity')['item_price'].agg(['mean', 'std'])

               mean       std
quantity
1          9.668139  1.238311
2         18.823226  2.328565
3         29.595000  4.730544

### Шаг 13. Сколько денег суммарно было получено?

In [36]:
chipo['item_price'].sum()

34500.16

### Шаг 14. Сколько заказов суммарно было сделано?

In [37]:
chipo['order_id'].nunique()

1834

### Шаг 15. Какая средняя цена заказа?

In [39]:
# Solution 1
chipo.groupby('order_id').sum().mean()

quantity       2.711014
item_price    18.811429
dtype: float64

In [40]:
# Solution 2
chipo['item_price'].sum() / chipo['order_id'].nunique()

18.811428571428575

### Шаг 16. Сколько _разных_ блюд было продано?

In [41]:
chipo['item_name'].nunique()

50

### БОНУС

###### в каком/каких заказе больше всего блюд

In [ ]:
#chipo.size == chipo.shape[0]*chipo.shape[1]

In [48]:
chipo.groupby('order_id').size().sort_values(ascending=False)

order_id
926     23
1483    14
205     12
1786    11
691     11
        ..
1027     1
261      1
1385     1
1036     1
917      1
Length: 1834, dtype: int64

In [49]:
chipo.query('order_id==926')

,order_id,quantity,item_name,choice_description,item_price,choice_description_fix
2304,926,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Lettuce]]",9.25,"[Fresh Tomato Salsa, Rice, Sour Cream, Lettuce]"
2305,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,"[Roasted Chili Corn Salsa, Fajita Vegetables, ..."
2306,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,"[Roasted Chili Corn Salsa, Fajita Vegetables, ..."
2307,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,"[Roasted Chili Corn Salsa, Fajita Vegetables, ..."
2308,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Lettu...",9.25,"[Fresh Tomato Salsa, Rice, Black Beans, Lettuce]"
2309,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,"[Fresh Tomato Salsa, Rice, Black Beans, Cheese..."
2310,926,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Rice, Cheese, Sour...",9.25,"[Roasted Chili Corn Salsa, Rice, Cheese, Sour ..."
2311,926,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,"[Fresh Tomato Salsa, Rice, Black Beans, Cheese..."
2312,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce]]",8.75,"[Fresh Tomato Salsa, Rice, Lettuce]"
2313,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",8.75,"[Fresh Tomato Salsa, Rice, Cheese, Sour Cream,..."
2314,926,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream]]",8.75,"[Roasted Chili Corn Salsa, Rice, Sour Cream]"
2315,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.25,"[Fresh Tomato Salsa, Rice, Black Beans, Cheese..."
2316,926,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75,"[Roasted Chili Corn Salsa, Rice, Black Beans, ..."
2317,926,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",9.25,"[Roasted Chili Corn Salsa, Rice, Black Beans, ..."
2318,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,"[Roasted Chili Corn Salsa, Fajita Vegetables, ..."
2319,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Cheese]]",9.25,"[Fresh Tomato Salsa, Rice, Cheese]"
2320,926,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",8.75,"[Fresh Tomato Salsa, Rice, Cheese, Lettuce]"
2321,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",8.75,"[Roasted Chili Corn Salsa, Rice, Pinto Beans, ..."
2322,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese]]",8.75,"[Roasted Chili Corn Salsa, Rice, Cheese]"
2323,926,1,Barbacoa Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.25,"[Fresh Tomato Salsa, Rice, Black Beans, Cheese..."
2324,926,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sou...",8.75,"[Tomatillo Red Chili Salsa, Rice, Cheese, Sour..."
2325,926,1,Steak Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",9.25,"[Tomatillo Red Chili Salsa, Rice, Black Beans,..."
2326,926,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75,"[Roasted Chili Corn Salsa, Rice, Black Beans, ..."

###### в каком блюде больше всего ингредиентов?

In [50]:
chipo['num_igredients'] = \
    chipo['choice_description_fix'].apply(lambda x: len(x) if x==x else x)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,choice_description_fix,num_igredients
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,NaN,NaN
1,1,1,Izze,[Clementine],3.39,[Clementine],1.0
2,1,1,Nantucket Nectar,[Apple],3.39,[Apple],1.0
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,NaN,NaN
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,"[Tomatillo-Red Chili Salsa (Hot), Black Beans,...",5.0

In [60]:
chipo.sort_values('num_igredients', na_position='last', ascending=False).head(10)

,order_id,quantity,item_name,choice_description,item_price,choice_description_fix,num_igredients
1320,538,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",10.98,"[Tomatillo-Green Chili Salsa (Medium), Roasted...",10.0
2159,871,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",10.98,"[Tomatillo-Green Chili Salsa (Medium), Roasted...",10.0
2040,820,1,Chicken Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.49,"[Fresh Tomato Salsa (Mild), Tomatillo-Green Ch...",10.0
3659,1463,1,Veggie Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.49,"[Fresh Tomato Salsa (Mild), Tomatillo-Green Ch...",10.0
1946,787,1,Steak Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99,"[Tomatillo-Green Chili Salsa (Medium), Roasted...",9.0
1529,623,1,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49,"[Fresh Tomato Salsa (Mild), Roasted Chili Corn...",9.0
1524,621,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,"[Fresh Tomato Salsa, Fajita Vegetables, Rice, ...",9.0
3787,1516,1,Steak Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99,"[Fresh Tomato Salsa (Mild), Tomatillo-Green Ch...",9.0
159,72,1,Chicken Burrito,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",10.98,"[Roasted Chili Corn Salsa (Medium), Tomatillo-...",9.0
4005,1604,1,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.49,"[Fresh Tomato Salsa (Mild), Tomatillo-Green Ch...",9.0

In [61]:
chipo['price_by_1'] = chipo['item_price'] / chipo['quantity']

In [65]:
chipo.groupby('item_name').agg({'price_by_1' : ['mean', 'min', 'max', 'std', 'nunique', 'count']})#.sort_values('price_by_1', ascending=False).head(1)

                                      price_by_1                             \
                                            mean   min    max           std
item_name
6 Pack Soft Drink                       6.490000  6.49   6.49  0.000000e+00
Barbacoa Bowl                          10.187273  8.69  11.75  1.260994e+00
Barbacoa Burrito                        9.832418  8.69  11.75  1.139519e+00
Barbacoa Crispy Tacos                  10.087273  8.99  11.75  1.270701e+00
Barbacoa Salad Bowl                    10.640000  9.39  11.89  1.317616e+00
Barbacoa Soft Tacos                    10.018400  8.99  11.75  1.191937e+00
Bottled Water                           1.431667  1.09   1.50  1.532718e-01
Bowl                                    7.400000  7.40   7.40  0.000000e+00
Burrito                                 7.400000  7.40   7.40  0.000000e+00
Canned Soda                             1.090000  1.09   1.09  0.000000e+00
Canned Soft Drink                       1.250000  1.25   1.25  0.000000e+00
Carnitas Bowl                          10.315588  8.99  11.75  1.258350e+00
Carnitas Burrito                        9.975932  8.69  11.75  1.199415e+00
Carnitas Crispy Tacos                   9.852857  8.99  11.75  1.301201e+00
Carnitas Salad                          8.990000  8.99   8.99           NaN
Carnitas Salad Bowl                    11.056667  9.39  11.89  1.290994e+00
Carnitas Soft Tacos                     9.398500  8.99  11.75  6.845082e-01
Chicken Bowl                            9.657727  8.19  11.25  1.235294e+00
Chicken Burrito                         9.475949  8.19  11.25  1.184982e+00
Chicken Crispy Tacos                    9.492340  8.49  11.25  1.208494e+00
Chicken Salad                           9.010000  8.19  10.98  1.121194e+00
Chicken Salad Bowl                      9.909091  8.75  11.25  1.252396e+00
Chicken Soft Tacos                      9.240261  8.49  11.25  1.074877e+00
Chips                                   2.149242  1.99   2.15  1.101485e-02
Chips and Fresh Tomato Salsa            2.748727  2.29   2.95  2.732781e-01
Chips and Guacamole                     4.345616  3.89   4.45  1.943544e-01
Chips and Mild Fresh Tomato Salsa       3.000000  3.00   3.00           NaN
Chips and Roasted Chili Corn Salsa      2.950000  2.95   2.95  0.000000e+00
Chips and Roasted Chili-Corn Salsa      2.390000  2.39   2.39  0.000000e+00
Chips and Tomatillo Green Chili Salsa   2.950000  2.95   2.95  0.000000e+00
Chips and Tomatillo Red Chili Salsa     2.950000  2.95   2.95  0.000000e+00
Chips and Tomatillo-Green Chili Salsa   2.390000  2.39   2.39  0.000000e+00
Chips and Tomatillo-Red Chili Salsa     2.390000  2.39   2.39  0.000000e+00
Crispy Tacos                            7.400000  7.40   7.40  0.000000e+00
Izze                                    3.390000  3.39   3.39  0.000000e+00
Nantucket Nectar                        3.390000  3.39   3.39  0.000000e+00
Salad                                   7.400000  7.40   7.40  0.000000e+00
Side of Chips                           1.690000  1.69   1.69  2.220446e-17
Steak Bowl                             10.232559  8.69  11.75  1.280389e+00
Steak Burrito                           9.993424  8.69  11.75  1.234669e+00
Steak Crispy Tacos                      9.952857  8.69  11.75  1.241225e+00
Steak Salad                             8.915000  8.69   8.99  1.500000e-01
Steak Salad Bowl                       11.027931  9.39  11.89  1.209313e+00
Steak Soft Tacos                        9.578182  8.99  11.75  9.373072e-01
Veggie Bowl                            10.011882  8.49  11.25  1.299605e+00
Veggie Burrito                          9.602842  8.49  11.25  1.303630e+00
Veggie Crispy Tacos                     8.490000  8.49   8.49           NaN
Veggie Salad                            8.490000  8.49   8.49  0.000000e+00
Veggie Salad Bowl                      10.138889  8.75  11.25  1.278275e+00
Veggie Soft Tacos                       9.352857  8.49  11.25  1.301201e+00


                                      nunique count
item_name
6 Pack Soft Drink                           1    54
Barbacoa Bowl                               6    66
Barbacoa Burrito                            6    91
Barbacoa Crispy Tacos                       4    11
Barbacoa Salad Bowl                         2    10
Barbacoa Soft Tacos                         4    25
Bottled Water                               2   162
Bowl                                        2     2
Burrito                                     1     6
Canned Soda                                 1   104
Canned Soft Drink                           1   301
Carnitas Bowl                               5    68
Carnitas Burrito                            6    59
Carnitas Crispy Tacos                       3     7
Carnitas Salad                              1     1
Carnitas Salad Bowl                         2     6
Carnitas Soft Tacos                         3    40
Chicken Bowl                                8   726
Chicken Burrito                             6   553
Chicken Crispy Tacos                        4    47
Chicken Salad                               3     9
Chicken Salad Bowl                          2   110
Chicken Soft Tacos                          4   115
Chips                                       2   211
Chips and Fresh Tomato Salsa                3   110
Chips and Guacamole                         5   479
Chips and Mild Fresh Tomato Salsa           1     1
Chips and Roasted Chili Corn Salsa          1    22
Chips and Roasted Chili-Corn Salsa          1    18
Chips and Tomatillo Green Chili Salsa       1    43
Chips and Tomatillo Red Chili Salsa         1    48
Chips and Tomatillo-Green Chili Salsa       1    31
Chips and Tomatillo-Red Chili Salsa         1    20
Crispy Tacos                                1     2
Izze                                        1    20
Nantucket Nectar                            1    27
Salad                                       1     2
Side of Chips                               2   101
Steak Bowl                                  6   211
Steak Burrito                               6   368
Steak Crispy Tacos                          4    35
Steak Salad                                 2     4
Steak Salad Bowl                            2    29
Steak Soft Tacos                            4    55
Veggie Bowl                                 4    85
Veggie Burrito                              4    95
Veggie Crispy Tacos                         1     1
Veggie Salad                                1     6
Veggie Salad Bowl                           2    18
Veggie Soft Tacos                           3     7

In [66]:
chipo.groupby('item_name')['price_by_1'].nunique().value_counts()

1    18
2    10
4     8
6     6
3     5
5     2
8     1
Name: price_by_1, dtype: int64